*{
	-webkit-transition: all 0.4s ease 0.3s;
	-o-transition: all 0.4s ease 0.3s;
	transition: all 0.4s ease 0.3s;
}
body{
	background-color: #f4f5f6;
	overflow-x: hidden;
}

h1{
	margin-bottom: 0;
}
h1,h2,h3{
	font-family: 'Lobster', cursive;
}
p, a, em, button{
	font-family: 'Crimson Text', serif;
	letter-spacing: 1.25px;
}

p{
	margin-bottom: 0;
}

hr{
	width: 50%;
}

em{
	font-style: italic;
}

.animated{
	-webkit-animation-duration: 1.5s;
	        animation-duration: 1.5s;
}

/*universal*/
.disappear{
	opacity: 0;
}

.style-two {
    border: 0;
    height: 1px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.container{
	padding-left: 150px;
	padding-right: 150px;
}

/*shadow*/
.text-shadow{
	text-shadow: 5px 5px 7px rgba(150, 150, 145, 1);
}

/*image size*/

.img-size{
	width: 100%;
	height: 250px;
}

/*margin*/
.mbet{
	margin-top: 60px;
	margin-bottom: 60px;
}

/*width*/
.w-20{
	width: 20%;
}

/*all about fonts*/
.font1{
	font-size: 1.25rem;
}

.font2{
	font-size: 1.5rem;
}

.font3{
	font-size: 1.75rem;
}

.font-h{
	line-height: 120%;
}

.font4{
	font-size: 2rem;
}

/*top*/
#top .top-dur{
	-webkit-animation-duration: 3s;
	        animation-duration: 3s;
}
#top .lead{
	font-size: 2rem;
}
#top .container{
	padding-left: 100px;
	padding-right: 100px;
}

#top .row{
	margin-right: 0;
	margin-left: 0;
}
#hov .icon-dur{
	-webkit-animation-duration: 1.5s;
	        animation-duration: 1.5s;
	-webkit-animation-timing-function: ease-in-out;
	        animation-timing-function: ease-in-out;
}
#hov p{
	cursor: pointer;
}
#hov a{
	text-decoration: none;
	display: inline-block;
	color: gray;
	cursor: pointer;
}
.full-view{
  height: 100vh;
  width: 100%;
}

.auto-view{
  width: 100%;
  height: auto;
}

.jumbotron{
	background: no-repeat center right fixed url("../../img/top-bg.jpg");
	-webkit-background-size: cover;
	        background-size: cover;
	margin-bottom: 0;
	padding-top: 200px;
}

.pos{
	top: 80%;
	left: 50%;
	-webkit-transform: translate(-50%, 80%);
	    -ms-transform: translate(-50%, 80%);
	        transform: translate(-50%, 80%);
}

/*about*/

#about-me, #what-i-do, #why-me, #contact{
	margin-top: 140px;
	margin-bottom: 140px;
}
.s-200{
	width: 200px;
	height: 200px;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
    -webkit-box-shadow: 10px 10px 29px -4px rgba(86, 83, 83, 0.81);
	box-shadow: 10px 10px 29px -4px rgba(86, 83, 83, 0.81);
}

#about-me article {
    margin: 0 auto;
    max-width: 460px;
}

.shades{
	-webkit-box-shadow: 5px 5px 15px 0px #2B3F36;
	        box-shadow: 5px 5px 15px 0px #2B3F36;
}

/*quotation*/
.text-box{
  -webkit-border-radius: 2px;
          border-radius: 2px;
  padding: 10px 20px;
  background-color: #fff;
  height: auto;
  -webkit-filter: drop-shadow(10px 8px 6px darkslategray);
          filter: drop-shadow(10px 8px 6px darkslategray);
}

/*why me*/
.drop-shadow{
	-webkit-filter: drop-shadow(0px 0px 8px darkslategray);
	        filter: drop-shadow(0px 0px 8px darkslategray);
}

/*skills*/
#skill .jumbotron{
  background-color: #fff;
  background-image: none;
  height: auto;
  -webkit-filter: drop-shadow(0.5rem 0.75rem 1.25rem darkslategray);
          filter: drop-shadow(0.5rem 0.75rem 1.25rem darkslategray);
}

#skill .col-md-2{
	padding-left: 10px;
	padding-right: 10px;
} 

#contact .btn{
	font-size: 1.25rem;
}

/*footer*/
.bg-foot{
	background-color: #d8dcdf;
}

.logo{
	width: 100%;
	max-width: 80px;
	max-height: 50px;
	height: 100%;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}