/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px)
{
	.container, #top .container{
		padding-left: 60px;
		padding-right: 60px;
	}
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) 
{
	*{
		-webkit-transition: all 0.5s ease-in-out;
			 -o-transition: all 0.5s ease-in-out;
			    transition: all 0.5s ease-in-out;
	}
	.display-1{
		font-size: 4.75rem;
	}
	.display-2{
		font-size: 4rem;
	}

	.font2{
		font-size: 1.25rem;
	}
	.container{
		padding-left: 60px;
		padding-right: 60px;
	}

	#top .jumbotron{
		background: no-repeat fixed url("../../img/top-bg-sm.jpg");
		-webkit-background-size: cover;
		        background-size: cover;
		        background-position: center center;
		        padding-top: 120px;
	}

	#top .container{
		text-align: center;
	}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) 
{	
	*{
		-webkit-transition: all 0.5s ease-in-out;
		     -o-transition: all 0.5s ease-in-out;
		        transition: all 0.5s ease-in-out;
	}
	.display-1{
		font-size: 4rem;
	}
	.display-2{
		font-size: 3rem;
	}
	.display-4{
		font-size: 2.5rem;
	}

	.display-3{
		font-size: 4.25rem;
	}

	.mtop{
		margin-top: 30px;
	}

	.text-sm{
		text-align: center;
	}

	.container, #top .container{
		padding-left: 60px;
		padding-right: 60px;
	}

	#top .mbet-sm{
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.jumbotron{
		background: no-repeat fixed url("../../img/top-bg-sm.jpg");
		-webkit-background-size: cover;
		        background-size: cover;
		        background-position: top 0px left -145px;
		        padding-top: 100px;
	}

	#what-i-do .img-fluid{
		height: 400px;
	}
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) 
{
	.container{
		padding-right: 40px;
		padding-left: 40px;
	}
	.display-1{
		font-size: 3rem;
	}
	.display-2, .display-4{
		font-size: 2.5rem;
	}
	.display-3{
		font-size: 3rem;
	}
	.font1{
		font-size: 1.2rem;
	}

	.mbet{
		margin-top: 25px;
		margin-bottom: 25px;
	}

	.text-sm{
		text-align: center;
	}
	
	#top .container{
		padding-right: 40px;
		padding-left: 40px;
	}

	#top .font2{
		font-size: 1.25rem;
	}

	#top .mbet-sm{
		margin-top: 10px;
		margin-bottom: 10px;
	}

	#top .lead{
		font-size: 1.5rem;
	}

	#top .jumbotron{
		background: no-repeat fixed url("../../img/top-bg-sm.jpg");
		-webkit-background-size: cover;
		        background-size: cover;
		background-position: center center;
		padding-top: 120px;
	}

	#what-i-do{
		margin-bottom: 60px;
	}
	#what-i-do .img-fluid{
		height: 300px;
	}

	#verse{
		margin-top: 40px;
		margin-bottom: 40px;
	}

	#verse .font4{
		font-size: 1.5rem;
	}
	#verse .font2{
		font-size: 1rem;
	}
}